@font-face {
    font-family: 'nessmedium';
    src: url('ness-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

/* header styles */
header{
    background-color: #d2c597;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

h1, h2{
    font-family: 'nessmedium', Arial, sans-serif;
} 
header h1{
    color: white;
    font-size: 50px;
}
header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid #629cb8;
}

/* main styles */
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: black;
    margin: 40px 0 10px;
}

a{
    color: mediumseagreen; 
}
a:hover{
    color: white;
    background-color: mediumslateblue;
}

ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}

/* footer styles */
footer{
    background-color: #d2c597;
    text-align: center;
    padding: 50px;
}

footer p{
    margin: 0;
}

p.caption{
    color: teal;
    font-style: italic;
    margin-top: 0;
    font-size: 15px;
}